* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styling */
body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  line-height: 1.6;
}

/* Header Styling */
header {
  padding: 20px;
  background: #004182; /* Transparent black background */
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;
}

.nav-links li {
  display: inline;
  margin-left: 20px;
  color: rgb(204, 53, 53);
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 25px;
}

.nav-links a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 25px;
}

.nav-links a:hover {
  color: black; /* Yellow hover color */
}

.logo h1 {
  font-size: 34px;
  font-style: italic;
}

/* Hero Section Styling */
.hero {
  padding: 100px 20px; /* Adjusted padding */
  padding-left: 100px;
}

.hero h2 {
  font-size: 53px;
  margin-bottom: 20px;
}

.hero p{
  font-size: 30px;
  font-style: italic;
}
/* Search Bar Styling */
input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 300px;
  margin-right: 10px; /* Added spacing between input and button */
}

button {
  padding: 10px 20px;
  background-color: #333;
  color: #004182;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: rgb(209, 100, 100);
}

/* Footer Styling */
footer {
  background: #004182;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  margin-top: 4em;
  bottom: 0;
  width: 100%;
}
h3 {
  font-size: 30px;
}
span{
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}
/* Dropdown Styles */
.dropdown {
position: relative;
}

.dropdown-menu {
display: none;
position: absolute;
top: 100%;
left: 0;
background-color: #004182 !important;
padding: 5px 0;
border-radius: 4px;
font-size: 8px;
text-align: left;
color: black;
margin-right: 2px;
margin-right: 1px;
}

.dropdown:hover .dropdown-menu {
display: block;
}

.dropdown-menu li {
display: block;
}
.text
{
  color: black;
}
.para
{
  margin-left: 10%;
  margin-right: 30% ;
 
}
.img1
{
  height: 200px;
  width: 200px;
 margin-left: 20%;
 border-radius: 50%;
 margin-bottom: 40px;
 float: left;
}
.head
{
  color: white;
}









:root {
  --sz: 2.5vmin;
}	

.content {
  position: relative;
  width: calc(var(--sz) * 4);
  height: calc(var(--sz) * 2);
  margin-left: 30px;
  /* margin-left: 40vw; */
}
.rightnav{
  display: flex;
}