* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styling */
body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  line-height: 1.6;
}

/* Header Styling */
header {
  background: #004182; /* Transparent black background */
  padding: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;
}

.nav-links li {
  display: inline;
  margin-left: 20px;
  color: rgb(204, 53, 53);
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 25px;
}

.nav-links a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 25px;
}

.nav-links a:hover {
  color: black; /* Yellow hover color */
}

.logo h1 {
  font-size: 34px;
  font-style: italic;
}

/* Hero Section Styling */
.hero {
  padding: 100px 20px; /* Adjusted padding */
  padding-left: 100px;
}

.hero h2 {
  font-size: 53px;
  margin-bottom: 20px;
}

.hero p{
  font-size: 30px;
  font-style: italic;
}
/* Search Bar Styling */
input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 300px;
  margin-right: 10px; /* Added spacing between input and button */
}

button {
  padding: 10px 20px;
  background-color: #333;
  color: #004182;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: rgb(209, 100, 100);
}

/* Footer Styling */
footer {
  background: #004182;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  margin-top: 4em;
  bottom: 0;
  width: 100%;
}
h3 {
  font-size: 30px;
}
span{
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}
/* Dropdown Styles */
.dropdown {
position: relative;
}

.dropdown-menu {
display: none;
position: absolute;
top: 100%;
left: 0;
background-color: #004182 !important;
padding: 5px 0;
border-radius: 4px;
font-size: 8px;
text-align: left;
color: black;
margin-right: 2px;
margin-right: 1px;
}

.dropdown:hover .dropdown-menu {
display: block;
}

.dropdown-menu li {
display: block;
}
.text
{
  color: black;
}
.para
{
  margin-left: 10%;
  margin-right: 30% ;
 
}
.img1
{
  height: 200px;
  width: 200px;
 margin-left: 20%;
 border-radius: 50%;
 margin-bottom: 40px;
 float: left;
}
.head
{
  color: white;
}









:root {
  --sz: 2.5vmin;  /* size */
  --on: #2eddf3; /* color on */
  --of: #68838d; /* color off */
  --tr: all 0.25s ease 0s;
}	

.content {
  position: relative;
  width: calc(var(--sz) * 4);
  height: calc(var(--sz) * 2);
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-left: 40vw; */
}
input {
  display: none;
}
label[for=btn] {
  position: absolute;
  width: calc(var(--sz) * 4);
  height: calc(var(--sz) * 2);
  background: linear-gradient(180deg, #888, #fff);
  border-radius: var(--sz);
  padding: calc(var(--sz) / 5);
  box-shadow: 0 0 calc(var(--sz) / 50) calc(var(--sz) / 50) #0002;
}	

#btn:checked + label[for=btn] {
  box-shadow: 
    0 calc(var(--sz) / 50) calc(var(--sz) / 5) #fff9, 
    0 0 calc(var(--sz) / 50) calc(var(--sz) / 50) #0002;
}

label[for=btn]:after {
  content: "";
  position: absolute;
  width: calc(100% - calc(calc(var(--sz) / 5) * 12));
  height: calc(100% - calc(calc(var(--sz) / 5) * 2));
  box-shadow: 0 0 calc(var(--sz) / 2) calc(var(--sz) / 10) var(--on), 0 0 calc(var(--sz) / 2) calc(var(--sz) / 10) #fff;
  border-radius: var(--sz);
  z-index: 0;
  opacity: 0;
  transition: var(--tr);
  /* animation: move-shadow 3s ease 0s 1; */
}

#btn:checked + label[for=btn]:after {
  opacity: 1;
  width: calc(100% - calc(calc(var(--sz) / 5) * 4));
}





.track {
  position: absolute;
  width: calc(calc(var(--sz) * 4) - calc(var(--sz) / 2.5));
  height: calc(calc(var(--sz) * 2) - calc(var(--sz) / 2.5));
  border-radius: var(--sz);
  overflow: hidden;
}

.track:before {
  content: "";
  position: absolute;
  width: calc(200% - calc(calc(var(--sz) * 2) - calc(var(--sz) / 3)));
  height: 100%;
  left: -50%;
  transition: var(--tr);
  background: linear-gradient(90deg, var(--on) 50%, var(--of) 50%);
  /* animation: move-color 3s ease 0s 1; */
}

.track:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: var(--sz);
  box-shadow: 0 calc(var(--sz) / -10) calc(var(--sz) / 10) 0 #0005 inset, 0 calc(var(--sz) / 10) calc(var(--sz) / 10) 0 #0005 inset;
}

#btn:checked + label .track:before {
  left: 0%;
}


.thumb {
  position: absolute;
  width: calc(calc(var(--sz) * 2) - calc(var(--sz) / 3));
  height: calc(calc(var(--sz) * 2) - calc(var(--sz) / 3));
  top: calc(calc( var(--sz) / 10) + calc(var(--sz) / 15));
  left: calc(calc( var(--sz) / 10) + calc(var(--sz) / 15));
  background: linear-gradient(180deg, #fff, #afafaf);
  border-radius: var(--sz);
  box-shadow: 0 0 0 calc(var(--sz) / 50) #0002, 0 calc(var(--sz) / 10) calc(var(--sz) / 10) 0 #0008;
  cursor: pointer;
  font-size: calc(var(--sz) / 2);
  display: flex;
  align-items: center;
  justify-content: center;
  text-indent: calc(var(--sz) * -0.025);
  text-shadow: 
    calc(var(--sz) / -8000) calc(var(--sz) / -150) calc(var(--sz) / 50) #0008, 
    calc(var(--sz) / 150) calc(var(--sz) / 100) calc(var(--sz) / 50) #fff;
  color: #7d7c7c;
  z-index: 1;
  /* animation: move-thumb 3s ease 0s 1; */
}

#btn:checked + label .thumb {
  left: calc(calc(100% - calc(calc(var(--sz) * 2) - calc(var(--sz) / 3))) - calc(calc( var(--sz) / 10) + calc(var(--sz) / 15)));
  color: var(--on);
  background: 
    radial-gradient(circle at 7% 50%, #fff calc(var(--sz) / 50), #fff0 calc(var(--sz) / 2)),
    radial-gradient(circle at 0 50%, var(--on) 10%, #fff0 60%), 
    linear-gradient(180deg, #fff, #afafaf);
  text-shadow: 
    0 0 calc(var(--sz) / 10) var(--on), 0 0 calc(var(--sz) / 5) #fff, 
    calc(var(--sz) / -8000) calc(var(--sz) / -150) calc(var(--sz) / 50) #0008, 
    calc(var(--sz) / 150) calc(var(--sz) / 100) calc(var(--sz) / 50) #fff;
}

.thumb:before {
  content: "";
  display: block;
  width: 70%;
  height: 70%;
  background: linear-gradient(180deg, #0008, #ccc, #fff);
  position: absolute;
  z-index: -1;
  border-radius: var(--sz);
  border: calc(var(--sz) / 50) solid #ddd;
}





.txt:before, 
.txt:after {
  content: "";
  position: absolute;
  left: calc(var(--sz) / 2);
  top: 25%;
  content: "DARK";
  transition: var(--tr);
  font-size: calc(var(--sz) / 1.5);
  color: #000;
  opacity: 0.4;
  text-shadow: 0px -1px 1px #000, 0px 1px 2px #fff;
}

.txt:after {
  content: "LIGHT";
  left: calc(100% - calc(var(--sz) / 0.625));
}



.rightnav{
  display: flex;
}
.content{
  margin-left: 30px;
}